<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<!--@subject {{trans "%store_name: Your Authentication Request" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name"
"var request.customer_entity_id":"Customer Id"
"var request.token":"Customer Token"
} @-->

<p>{{trans "To authenticate, please click on the link below:"}}</p>

<p style="line-break: anywhere;">
    <a href="{{var this.getUrl($store,'admin/pwl/processlogin',[_query:[request:$request],_nosid:1])}}" target="_blank">
        {{var this.getUrl($store,'admin/pwl/processlogin',[_query:[request:$request],_nosid:1])}}
    </a>
</p>

<p>{{trans "If you are not the author of this request, please ignore this message."}}</p>
