<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Opengento\Hoodoor\Api\RequestLoginRepositoryInterface"
                type="Opengento\Hoodoor\Model\LoginRequestRepository" />
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="account_plugin"
                type="Opengento\Hoodoor\Plugin\Model\AccountManagement"/>
    </type>
    <preference for="Opengento\Hoodoor\Controller\Account\ForgotPassword"
                type="Magento\Customer\Controller\Account\ForgotPassword" />
    <preference for="Opengento\Hoodoor\Controller\Account\ForgotPasswordPost"
                type="Magento\Customer\Controller\Account\ForgotPasswordPost" />
</config>
