<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Opengento\Hoodoor\Api\RequestLoginRepositoryInterface"
                type="Opengento\Hoodoor\Model\LoginRequestRepository" />
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="account_plugin"
                type="Opengento\Hoodoor\Plugin\Model\AccountManagement"/>
    </type>
    <preference for="Magento\Customer\Controller\Account\ForgotPassword"
                type="Opengento\Hoodoor\Controller\Account\ForgotPassword" />
    <preference for="Magento\Customer\Controller\Account\ForgotPasswordPost"
                type="Opengento\Hoodoor\Controller\Account\ForgotPasswordPost" />
    <preference for="Magento\Customer\Controller\Account\Edit"
                type="Opengento\Hoodoor\Controller\Account\Edit" />
    <preference for="Magento\AdminAdobeIms\Plugin\PerformIdentityCheckMessagePlugin"
                type="Opengento\Hoodoor\Plugin\AdobeImsReAuth\PerformIdentityCheckMessagePlugin"/>
    <preference for="Magento\User\Controller\Adminhtml\User\Save" type="Opengento\Hoodoor\Model\Admin\User\Save"/>
    <type name="Magento\Webapi\Controller\Rest">
        <plugin name="hoodoor_disable_customer_webapi" type="Opengento\Hoodoor\Plugin\Webapi\Controller\Rest\DisableApi" />
    </type>
</config>
