<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="passwordlesslogin" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>PasswordLess Login</label>
            <tab>customer</tab>
            <resource>Opengento_PasswordLessLogin::config</resource>
            <group id="email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Email</label>
                <field id="template_id" type="text" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Template</label>
                </field>
                <field id="sender_email" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sender Email</label>
                </field>
                <field id="sender_name" type="text" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sender Name</label>
                </field>
            </group>
        </section>
    </system>
</config>
